# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Text Editors
/.idea
.vscode
*.swp
*.swo
*.swn
*.bak

# Operating System
Thumbs.db
.DS_Store

# Logs
logs
*.log

# yarn
yarn-error.log

# npm
npm-debug.log*

# Package manager lock files
yarn.lock
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
